

<aside id="basicSidebar" class="pmd-sidebar pmd-sidebar-dark pmd-sidebar-slide-push bg-secondary pmd-z-depth-light-2 pmd-sidebar-left" role="navigation">
	<ul class="nav flex-column pmd-sidebar-nav">
	<li class="nav-item pmd-user-info mb-0">
		<a href="javascript:void(0);" class="nav-link btn-user text-center">
			<img class="rounded-circle m-auto" src="themes/images/user-icon.jpg" width="40" height="40" alt="avatar">
			<h3 class="pmd-title m-0">Propeller Admin</h3>
			<p class="pmd-subheading1 m-0"></p>
		</a>
	</li>
		<li class="nav-item">
			<a class="nav-link pmd-ripple-effect" routerLink="/ticket/view" >
				<span class="media-body">Ticket</span>
			</a>
		</li>
	</ul>
</aside>