
<nav class="navbar navbar-expand-xl fixed-top navbar-light bg-white pmd-navbar pmd-z-depth-light-1">
    <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1300" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle"><i class="material-icons md-dark">menu</i></a>
    
    <!-- Navbar Brand -->
    <div class="navbar-header">
        <a class="navbar-brand" href="">
           <img src="assets/images/Jewelegance Final LOGO.png" alt="Logo" height="34">
        </a>
    </div>
</nav>