<html>

<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
    <div class="container-fluid">
        <app-header></app-header>
    </div>
</nav>
<div class="pmd-sidebar-overlay"></div>
<aside id="basicSidebar" class="pmd-sidebar sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons"
    role="navigation">
    <ul class="nav pmd-sidebar-nav">
        <app-slider></app-slider>
    </ul>
</aside>
<body>
</body>

</html>

