<div class="ui container">
  <h2 class="ui orange header">
    <div class="sub header">{{ actorDetails.name }}</div>
  </h2>

  <div class="ui floating message" id="main">
    <div class="ui padded grid" id="content">

      <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
        <div class="ui centered grid">
          <!-- Birthday -->
          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">

              <span>Birthday</span>
            </div>
            {{ actorDetails.birthday }}
          </div>
        <!-- Actor Phto  -->
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="ui sub header">

            <span>Photo</span>
          </div>
          <img src="actorDetails.poster_path">
        </div>
          <!-- Actor List -->
          <div class="center aligned eight wide mobile eight wide tablet five wide computer column">
            <div class="ui blue statistic">
              <div class="label">
                <span>Movie List</span>
                <a><span *ngFor="let movieList of movieList" [routerLink]=""
                    routerLinkActive="active">
                  <div class="text value">{{ movieList?.original_title }}</div></span>
                </a></div>
            </div>
          </div>
          <!-- -->
        </div>
      </div>
    </div>

    <div class="sixteen wide column">
      <div class="ui large animated fluid button" tabindex="0" (click)="back()">
        <div class="visible content">
          <i class="left arrow icon"></i>
        </div>
        <div class="hidden content">

          <span>Back</span>
        </div>
      </div>
    </div>
  </div>
</div>